*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{

    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    
    width: 100%;
  // background-color: greenyellow;
    display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 30px;
  padding: 10px 30px;
}

#nav a{
    text-decoration: none;
    color: black;
    font-size: 16.8px;
    font-weight: 550;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 600;
}
#nav .nav-link:hover a {
    text-decoration: underline;
}


#center{
    //height: 40%; //child ke hisab se height le lega//

    width: 100%;
   // background-color: red;
    padding: 10px 50px;
}
#center h1{
    font-size: 55px;
    font-weight: 200;
    //line-height: 80px;
}
#center-in{
    height: 100px;
    //width: 100%;
   // background-color: red;
    margin-top: 30px;
   
   display: flex;
   justify-content: space-between;
}

#center-in p {
    font-size: 20px;
    font-weight: 400;
    //line-height: 22px;
    padding: 0px !important 50px;
    
    
}
#right{
    width: 20%;
   // padding: 0px 20px;
   height: calc(100% - 100px); /* Adjust the height as needed */
}
.elem {
    /*background-color: yellow;*/
    margin: 0.2px;
    padding: 5px 0;
    border-top: 2px solid;
    display: flex; /* Add display: flex; */
    align-items: center;
    justify-content: space-between;
}

.elem i {
    /* Add this to align the arrow to the right */
    margin-left: auto;
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
}

.elem a {
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;

}
.elem:hover i{
    opacity: 1;
}
.elem:hover{
    background-color: wheat;
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 40%;
    width: 100%;
    background-color: red;
    background-image: url(https://plus.unsplash.com/premium_photo-1661375298489-353069358c6a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 25%;
}